<span data-contextmenu="true"
      data-contextmenu-uuid="{{ child.getUuid() }}"
      data-contextmenu-baseurl="{{ url('site_view') }}">

    <a class="card bg-hover"
       data-uuid="{{ child.uuid }}"
       data-local="{% if child.type == 0 %}true{% else %}false{% endif %}"
       href="{{ child.url }}"
       target="_blank"
       title="{{ child.name }}">

        <div>
            <img class="icon"
                 src="{% if file_exists("build/images/icons/#{child.extension|lower}.svg") %}{{ asset("build/images/icons/#{child.extension|lower}.svg") }}{% else %}{{ asset("build/images/icons/_default.svg") }}{% endif %}"/>
        </div>
        <div class="name">{{ child.name }}</div>


    </a>

    <div class="contextmenu hidden">
        <ul>
            <li data-contextmenu-action="null"
            ><a href="{{ child.url }}" target="_blank">View</a></li>

            {# Must be logged in to modify items #}
            {% if is_granted("ROLE_ADMIN") and child.uuid|length > 0 %}
                <li data-contextmenu-action="popup"
                    data-contextmenu-title="Rename File"
                    data-contextmenu-href="{{ url('site_file_rename', {uuid: child.uuid}) }}"
                >Rename</li>

                <li data-contextmenu-action="popup"
                    data-contextmenu-title="Move File"
                    data-contextmenu-href="{{ url('site_file_move', {uuid: child.uuid}) }}"
                >Move</li>

                <li class="danger"
                    data-contextmenu-action="popup-confirm"
                    data-contextmenu-title="Delete File"
                    data-contextmenu-href="{{ url('site_file_delete', {uuid: child.uuid}) }}"
                >Delete</li>
            {% endif %}
        </ul>
    </div>

</span>