{# Check if root "/" is parent. If not, show the hash for the file above ."Go up" #}

<div class="header-title">{{ directory }}</div>

{% if is_granted("ROLE_ADMIN") %}
    <nav class="navbar navbar-expand-lg navbar-light p">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item m-1">
                <a id="add-folder"
                   class="nav-link nav-icon bg-hover"
                   data-popup="true"
                   data-popup-title="Add Folder"
                   data-popup-url="{{ url('site_add_folder', {parentUuid: head.getUuid()}) }}">
                    <img width="20px" height="20px" src="{{ asset("build/images/ui/folder-add.svg") }}"/>
                </a>
            </li>

            <li class="nav-item m-1">
                <a id="add-file"
                   class="nav-link nav-icon bg-hover"
                   data-popup="true"
                   data-popup-title="Add File"
                   data-popup-url="{{ url('site_add_file', {parentUuid: head.getUuid()}) }}">
                    <img width="20px" height="20px" src="{{ asset("build/images/ui/file-add.svg") }}"/>
                </a>
            </li>

        </ul>
    </nav>
{% endif %}