<span data-contextmenu="true"
      data-contextmenu-action="{% if (child.extension is defined) and (child.url is defined) %}file{% else %}folder{% endif %}"
      data-contextmenu-uuid="{{ child.getUuid() }}"
      data-contextmenu-baseurl="{{ url('site_view') }}">

    <div class="card bg-hover"
         data-ajax="true"
         data-ajax-target="target-ajax"
         href="{% if child.url is defined %}{{ child.url }}{% else %}{{ url('site_view_folder', {folder: child.uuid}) }}{% endif %}"
         title="{{ child.name }}{% if (child.extension is defined) and (child.url is defined) %}.{{ child.extension }}{% endif %}">

        <div>
            <img class="icon"
                 src="{% if file_exists("build/images/icons/#{child.extension}.svg") %}{{ asset("build/images/icons/#{child.extension}.svg") }}{% else %}{{ asset("build/images/icons/_default.svg") }}{% endif %}"/>
        </div>
        <div class="name">{{ child.name }}</div>


    </div>

    <div class="contextmenu hidden">
        <ul>
            <li data-contextmenu-action="null"
                data-ajax="true"
                data-ajax-target="target-ajax"
                href="{% if child.url is defined %}{{ child.url }}{% else %}{{ url('site_view_folder', {folder: child.uuid}) }}{% endif %}"
            >View</li>

            {% if is_granted("ROLE_ADMIN") and child.uuid|length > 0 %}
                <li data-contextmenu-action="popup"
                    data-contextmenu-title="Rename File"
                    data-contextmenu-href="{{ url('site_folder_rename', {uuid: child.uuid}) }}"
                >Rename</li>

                <li data-contextmenu-action="popup"
                    data-contextmenu-title="Move File"
                    data-contextmenu-href="{{ url('site_folder_move', {uuid: child.uuid}) }}"
                >Move</li>

                <li class="danger"
                    data-contextmenu-action="popup-confirm"
                    data-contextmenu-title="Delete File"
                    data-contextmenu-href="{{ url('site_folder_delete', {uuid: child.uuid}) }}"
                >Delete</li>
            {% endif %}
        </ul>
    </div>

</span>