<div class="card bg-hover">
    <a
       data-ajax="true"
       data-ajax-target="target-ajax"
       href="{% if child.url is defined %}{{ child.url }}{% else %}{{ url('site_view_folder', {folder: child.uuid}) }}{% endif %}"
       title="{{ child.name }}{% if (child.extension is defined) and (child.url is defined) %}.{{ child.extension }}{% endif %}"
    >
        <div>
            <img class="icon" src="{% if file_exists("build/images/icons/#{child.extension}.svg") %}{{ asset("build/images/icons/#{child.extension}.svg") }}{% else %}{{ asset("build/images/icons/_default.svg") }}{% endif %}"/>
        </div>
        <div class="name">{{ child.name }}</div>
    </a>

</div>