<div class="card bg-hover"
     data-ajax="true"
     data-ajax-target="target-ajax"
     data-contextmenu="true"
     data-contextmenu-action="{% if (child.extension is defined) and (child.url is defined) %}file{% else %}folder{% endif %}"
     data-contextmenu-uuid="{{ child.getUuid() }}"
        {# site_view route acts as installation path #}
     data-contextmenu-baseurl="{{ url('site_view') }}"
     href="{% if child.url is defined %}{{ child.url }}{% else %}{{ url('site_view_folder', {folder: child.uuid}) }}{% endif %}"
     title="{{ child.name }}{% if (child.extension is defined) and (child.url is defined) %}.{{ child.extension }}{% endif %}">
    <div>
        <img class="icon"
             src="{% if file_exists("build/images/icons/#{child.extension}.svg") %}{{ asset("build/images/icons/#{child.extension}.svg") }}{% else %}{{ asset("build/images/icons/_default.svg") }}{% endif %}"/>
    </div>
    <div class="name">{{ child.name }}</div>

</div>