{% extends 'base.html.twig' %}

{% block title %}Folder{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_view') }}
{% endblock %}

{% block body %}
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="brand">Files</div>
            <div class="explorer-container">
                {% import "file_system/explorer.html.twig" as explorer %}
                {{ explorer.render([explorerTree], true) }}
            </div>
        </div>
        {% if app.user is not null %}
            <div class="btn-group dropup user-block">
                <p class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ app.user.email }}
                </p>
                <ul class="dropdown-menu">
                    <div class="text-left">
                        <i class="fas fa-sign-out-alt"></i> <a href="{{ url('app_logout') }}">Log Out</a>
                    </div>
                </ul>
            </div>
        {% else %}
            <div class="user-block" id="login-popup">
                <a id="login"
                   data-popup="true"
                   data-popup-title="Login"
                   data-popup-url="{{ url('app_login') }}">Login</a>
            </div>
        {% endif %}
    </div>

    <div class="content-wrapper">

        <div class="target-ajax">
            {% include "file_system/view_ajax.html.twig" %}
        </div>

        {% include "file_system/footer.html.twig" %}
    </div>

{% endblock %}
