{% extends 'base.html.twig' %}

{% block title %}Folder{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_view') }}
{% endblock %}

{% block body %}
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="brand">Files</div>
            <div class="explorer-container">
                {% import "file_system/explorer.html.twig" as explorer %}
                {{ explorer.render([explorerTree], true) }}
            </div>
        </div>
        <div class="user-block">
            {% if app.user is not null %}
                <p>{{ app.user.email }}</p>
            {% else %}
                <p id="login" data-url="{{ url('app_login') }}">Login</p>
            {% endif %}
        </div>
    </div>

    <div class="content-wrapper">

        <div class="target-ajax">
            {% include "file_system/view_ajax.html.twig " %}
        </div>

        {% include "file_system/footer.html.twig" %}
    </div>

{% endblock %}
